/node_modules
/public/hot
/public/img
/public/images
/public/storage
/resources/img
/resources/images
/storage/*.key
/vendor
/app/Modules/Lrm/Resources/Images
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.bak
*.csv
*.sql
*.xls
*.xlsx
